<div class="whiteBackground">

  <div class="greenBackground">
    <p class="bigText"><b>Get tracking</b></p>

    <p class="smallText">Log in to your Toggl account.</p>

    <div class="formLabel">

      <div>
        <label class="dataLabel"><b>EMAIL ADDRESS</b></label>
        <input [(ngModel)]="emailAddress" #ctrl="ngModel" type="text"
               id="email"
               class="form-control textForm">

        <label class="dataLabel passwordLabel"><b>PASSWORD</b></label>
        <input [(ngModel)]="passwordSet" #ctrl="ngModel" type="password"
               id="password"
               class="form-control textForm">
      </div>


      <div class="redButton" role="button" (click)="logMeIn(emailAddress, passwordSet); passwordSet = ''">
        <p class="redButtonFill"><b>LOG IN <i class="fa fa-caret-right"></i></b></p>
      </div>

      <div>
        <p class="orStyle"><b>OR</b></p>
      </div>

      <div class="whiteButton" role="button">
        <p class="whiteButtonFill"><b><i class="fa fa-google"></i> LOG IN WITH GOOGLE <i class="fa fa-caret-right"></i></b>
        </p>
      </div>
    </div>
  </div>
</div>
