@mixin button() {
  width: 65%;
  height: 50px;
  border-radius: 25px;
}
@mixin buttonFill(){
  padding-top: 14px;
  font-size: 14px
}
@mixin logsLabel() {
  width: 65%;
  font-size: 11px;
  text-align: left;
}

.whiteBackground {
  background-color: #E3E8EB;
  width: 100%;
  height: 1250px;
}
.greenBackground {
  background-color: #88CF8F;
  width: 100%;
  height: 720px;
  text-align: center
}
.bigText {
  color: #FFFFFF;
  font-size: 53px;
  padding-top: -10px
}
.smallText {
  color: #FFFFFF;
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 40px
}
.formLabel {
  background-color: #FFFFFF;
  width: 37%;
  height: 720px;
  margin: auto;
  border-radius: 5px;

  .dataLabel {
    @include logsLabel();
    margin: 100px auto auto;
  }
  .passwordLabel {
    margin-top: 55px
  }
}
.forms {
  background-color: #E3E8EB;
  width: 65%;
  margin: auto;
  height: 70px
}
.redButton {
  @include button();
  cursor: pointer;
  margin: 120px auto auto;
  background-color: #E24F54;

  .redButtonFill {
    color: white;
    @include buttonFill();
  }
}
.whiteButton {
  @include button();
  cursor: not-allowed;
  margin: 1% auto auto;
  background-color: #FFFFFF;
  border: 3px #F1F4F6 solid;

  .whiteButtonFill {
    color: black;
    @include buttonFill();
  }
}
.textForm {
  background-color: #E3E8EB;
  width: 65%;
  margin: auto;
  height: 70px
}
.orStyle {
  color: #A2A2A2;
  font-size: 14px;
  padding-top: 3%
}
