<div class="sizeOf">


  <input type="text"
         id="email"
         placeholder="What are you working on?"
         class="form-control label">

  <div class="createProjectButton"><i class="fa fa-plus createProjectPlus"></i>Create a project</div>

  <div class="optionButtons"><i class="fa fa-tag "></i></div>
  <div class="optionButtons"><i class="fa fa-dollar"></i></div>

  <div class="timer">0:00:00</div>
  <div class="player"><i class="fa fa-play-circle playButton"></i></div>

  <div class="modeType">
    <i class="fa fa-clock-o manualMode"></i>
    <i class="fa fa-list autoMode" ></i>

  </div>

</div>
