<div class="sizeOf">

<!--<div style="display: flex">-->
  <input type="text"
         id="email"
         placeholder="What are you working on?"
         class="form-control label">
<!--</div>-->

  <div class="createProjectButton"><i class="fa fa-plus createProjectPlus"></i>Create a project</div>

  <div class="optionButtons"><i class="fa fa-tag "></i></div>
  <div class="optionButtons"><i class="fa fa-dollar"></i></div>

  <div class="timer">0:00:00</div>
  <div class="player"><i class="fa fa-play-circle playButton"></i></div>

  <div class="modeType">
    <a class="fa fa-clock-o manualMode" (click)="menuChange=true"></a>
    <a class="fa fa-list autoMode" (click)="menuChange=false"></a>

  </div>

</div>
