<div class="sizeOf">


  <input type="text"
         id="email"
         placeholder="What have you done?"
         class="form-control label">

  <div class="createProjectButton"><i class="fa fa-plus createProjectPlus"></i>Create a project</div>

  <div class="optionButtons"><i class="fa fa-tag "></i></div>
  <div class="optionButtons"><i class="fa fa-dollar"></i></div>

  <div class="timer" style="font-size: 14px">6:03 TODAY</div>
  <div class="fa fa-arrow-right optionButtons" style="color: #7B7B7B"></div>
  <div class="timer" style="font-size: 14px">6:03</div>

  <div class="player"><i class="fa fa-check-circle playButton"></i></div>

  <div class="modeType">
    <i class="fa fa-clock-o manualMode" href="" (click)="menuChange=false"></i>
    <i class="fa fa-list autoMode" href="" (click)="menuChange=true"></i>

  </div>

</div>
