<div class="sideNav">

  <div class="navbar-header">
    <a href="#" class="navbarBrand">
      <i class="fa fa-power-off powerOnOff"></i>
      <b>toggl</b></a>
  </div>


  <!--TOP NAVBAR-->
  <div>
    <ul class="navbar nav">

      <div class="menuElement">
        <li routerLinkActive="active">
          <a class="menuItem" role="button" routerLink="/home/timer"><i class="fa fa-clock-o symbol"></i>Timer</a></li>
      </div>

      <div class="menuElement">
        <li routerLinkActive="active">
          <a class="menuItem" role="button" routerLink="/home/dashboard"><i class="fa fa-bar-chart-o symbol"></i>Dashboard</a></li>
      </div>

      <div class="menuElement">
        <li routerLinkActive="active">
          <a class="menuItem" role="button" routerLink="/home/reports"><i class="fa fa-file symbol"></i>Reports</a></li>
      </div>

      <div class="menuElement">
        <li routerLinkActive="active">
          <a class="menuItem" role="button" routerLink="/home/insights"><i class="fa fa-line-chart symbol"></i>Insights</a></li>
      </div>

      <div class="menuElement">
        <li routerLinkActive="active">
          <a class="menuItem" role="button" routerLink="/home/saved"><i class="fa fa-star symbol"></i>Saved Reports</a></li>
      </div>

       </ul>
  </div>


<!--BOTTOM NAVBAR-->
<div>
  <p class="manage"><b>MANAGE</b></p>
  <ul class="navbar nav">

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-folder symbol"></i>Projects</a></li>
    </div>

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-address-card symbol"></i>Clients</a></li>
    </div>

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-users symbol"></i>Team</a></li>
    </div>

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-briefcase symbol"></i>Workspaces</a></li>
    </div>

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-tag symbol"></i>Tags</a></li>
    </div>

    <div class="menuElement">
      <li routerLinkActive="active">
        <a class="menuItem" role="button"><i class="fa fa-question-circle symbol"></i>Help</a></li>
    </div>
  </ul>
  <p class="showMore" style=""><i class="fa fa-caret-down symbol"></i>Show more</p>
</div>
</div>
