<div class="sidenav">

  <div class="navbar-header">
    <a href="#" class="navbar-brand">
      <i class="fa fa-power-off powerOnOff"></i>
      <b>toggl</b></a>
  </div>

  <div>
    <ul style="list-style: none" class="menuElements">
    <li><a class="" role="button"><i class="fa fa-clock-o"></i>Timer</a></li>
    <li><a class="" role="button"><i class="fa fa-bar-chart-o"></i>Dashboard</a></li>
    <li><a class="" role="button"><i class="fa fa-file"></i>Reports</a></li>
    <li><a class="" role="button"><i class="fa fa-line-chart"></i>Insights</a></li>
    <li><a class="" role="button"><i class="fa fa-star"></i>Saved Reports</a></li>
    </ul>
  </div>


</div>
