.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #323232;
  padding-top: 11px;
}
.navbar-brand {
  font-size:21px;
  color: #FFFFFF;
}
.powerOnOff {
  font-size:21px;
  color: #E20505;
  margin-left: 15px;
  margin-right: 5px;
}
.menuElements {
  font-size: 16px;
  color: #D1D1D1;
}
