<div class="white-bckgrnd">

  <div class="green-bckgrnd">
    <p class="big-text"><b>Get tracking</b></p>

    <p class="small-text">Log in to your Toggl account.</p>

    <div class="form-label">

      <div align="left">
        <label class="data-label"><b>EMAIL ADRESS</b></label>
        <input type="text"
               id="email"
               class="form-control text-form">

        <label class="data-label passwd-label"><b>PASSWORD</b></label>
        <input type="text"
               id="password"
               class="form-control text-form">
      </div>
      <div class="red-button" role="button">
        <p class="red-button-fill"><b>LOG IN <i class="fa fa-caret-right"></i></b></p>

     </div>
      <div class="white-button" role="button">
        <p class="white-button-fill"><b><i class="fa fa-google"></i> LOG IN WITH GOOGLE <i class="fa fa-caret-right"></i></b></p>
      </div>
    </div>
  </div>

  <div>

  </div>
</div>
