.white-bckgrnd {
  background-color: #E3E8EB;
  width: 100%;
  height: 1250px;
}
.green-bckgrnd {
  background-color: #88CF8F;
  width: 100%;
  height: 720px;
  text-align: center
}
.big-text {
  color: #FFFFFF;
  font-size: 53px;
  padding-top: -10px
}
.small-text {
  color: #FFFFFF;
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 40px
}
.form-label {
  background-color: #FFFFFF;
  width: 37%;
  height: 720px;
  margin: auto;
  border-radius: 5px
}
.data-label {
  width: 65%;
  font-size: 11px;
  text-align: left;
  margin: 100px auto auto;
}
.forms {
  background-color: #E3E8EB;
  width: 65%;
  margin: auto;
  height: 70px
}
.red-button {
  cursor: pointer;
  margin: 120px auto auto;
  background-color: #E24F54;
  width: 65%;
  height: 50px;
  border-radius: 25px;
}
.red-button-fill {
  color: white;
  padding-top: 14px;
  font-size: 14px;
}
.white-button {
  cursor: not-allowed;
  margin: 1% auto auto;
  background-color: #FFFFFF;
  width: 65%;
  height: 50px;
  border: 3px #F1F4F6 solid;
  border-radius: 25px;
}
.white-button-fill {
  color: black;
  padding-top: 14px;
  font-size: 14px
}
.text-form {
  background-color: #E3E8EB;
  width: 65%;
  margin: auto;
  height: 70px
}
.passwd-label {
  margin-top: 55px
}
.orstyle {
  color: #A2A2A2;
  font-size: 14px;
  padding-top: 3%
}
