<div class="whiteBackground">

  <div class="pinkBackground">
    <p class="bigText"><b>Let's get started</b></p>

    <p class="smallText">Kickstart your productivity with Toggl.</p>

    <div class="formLabel">

      <div align="center">
        <label  class="dataLabel"><b>EMAIL ADDRESS</b></label>
        <input [(ngModel)]="emailAddress" #ctrl="ngModel" type="text"
               id="email"
               class="form-control forms" required>
      </div>


      <!--<p>{{emailAddress}}</p>-->
      <!--<p>{{ctrl.valid}}</p>-->


      <div align="center">
        <label class="dataLabel2"><b> SET A PASSWORD</b></label>
        <input  [(ngModel)]="passwordSet" #ctrl="ngModel" type="password"
               id="password"
               class="form-control forms" required>
      </div>

      <!--<p>{{passwordSet}}</p>-->
      <!--<p>{{ctrl.valid}}</p>-->



      <div class="checkbox checkboxAdd">
        <label><input type="checkbox" value=""><b>I agree the terms of service and privacy policy</b></label>
      </div>

      <div class="redButton" role="button" routerLink="/home">
        <p class="redButtonFill"><b>LOG IN <i class="fa fa-caret-right"></i></b></p>
      </div>

      <div class="whiteButton" role="button">
        <p class="whiteButtonFill" (click)="setValue(emailAddress, passwordSet); databasePush()"><b><i class="fa fa-google"></i> LOG IN WITH GOOGLE <i
          class="fa fa-caret-right"></i></b></p>
      </div>

    </div>
  </div>
</div>
