@mixin button() {
  width: 65%;
  height: 50px;
  border-radius: 25px;
}
@mixin buttonFill(){
  padding-top: 14px;
  font-size: 14px
}
@mixin logsLabel() {
  width: 65%;
  font-size: 11px;
  text-align: left;
}

.whiteBackground {
  background-color: #E3E8EB;
  width: 100%;
  height: 1250px;
}
.pinkBackground {
  background-color: #FEEEDE;
  width: 100%;
  height: 720px;
  text-align: center
}
.bigText {
  color: #282A2D;
  font-size: 53px;
  padding-top: -10px
}
.smallText {
  color: #282A2D;
  font-size: 17px;
  margin-top: -10px;
  margin-bottom: 40px
}
.formLabel {
  background-color: #FFFFFF;
  width: 37%;
  height: 720px;
  margin: auto;
  border-radius: 5px;

  .dataLabel {
    @include logsLabel();
    margin: 100px auto auto;
  }

  .dataLabel2 {
    @include logsLabel();
    margin: 55px auto auto;
  }
  .dataLabelAlert {
    @include logsLabel();
    font-size: 14px;
    color: #E24F54;
    height: 5px;

  }
}
.forms {
  background-color: #E3E8EB;
  width: 65%;
  margin: auto;
  height: 70px;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  outline: none;
  padding-left: 15px;

}
input:focus {
  border: #88CF8F 2px solid;
}
.redButton {
  cursor: pointer;
  margin: 7% auto auto;
  background-color: #E24F54;
  @include button();

  .redButtonFill {
    @include buttonFill();
    color: white;
  }
}
.whiteButton {
  cursor: not-allowed;
  margin: 3% auto auto;
  background-color: #FFFFFF;
  border: 3px #F1F4F6 solid;
  @include button();

  .whiteButtonFill {
    @include buttonFill();
    color: black;
  }
}
.checkboxAdd {
  margin-top: 10%;
  margin-left: 18%;
  margin-right: 20%;
}


.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -10px;
  left: 0;
  height: 45px;
  width: 45px;
  background-color: #E3E8EB;
  border-radius: 15%;
  border: #E24F54 2px solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #E3E8EB;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: #88CF8F 2px solid;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 15px;
  top: 4px;
  width: 12px;
  height: 25px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.agree {
  padding-left: 10%
}
