
<div class="menuDiv">
  <app-left-menu></app-left-menu>
</div>

<div class="appDiv">
  <app-main-app-router></app-main-app-router>
</div>


<!--<div class="row">-->
  <!--<div style="float: left; width: 195px; position: fixed; left: 0;">-->
    <!--<app-left-menu></app-left-menu>-->
    <!--&lt;!&ndash;kupa dupa&ndash;&gt;-->
  <!--</div>-->

  <!--<div style="float: left">-->
    <!--<app-main-app-router></app-main-app-router>-->
  <!--&lt;!&ndash;sraka&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
<!--<div class="clear"></div>-->
