@mixin rightMenu() {
  margin: 10px;
  color: #282A2D;
}
.rightMenu {
  @include rightMenu();
  cursor: pointer;
}
.rightMenuDisallowed {
  @include rightMenu();
  cursor: not-allowed;
}
.togglBrand {
  font-size:35px;
  color: #282A2D
}
.container-fluid {
  margin-top: 25px
}
.powerOnOff {
  font-size:30px;
  color: #E1393F;
  margin: 10px
}
