
<nav class="navbar navbar-default">

      <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <i class="fa fa-power-off powerOnOff"></i>
        <b>toggl</b></a>
    </div>

    <div class="btn btn-toolbar">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="right-menu-dis" role="button"><b>Features</b></a>
        <a class="right-menu-dis" role="button"><b>Pricing</b></a>
        <a class="right-menu-dis" role="button"><b>Training</b></a>
        <a class="right-menu" role="button" routerLink="/login" (click)="changeColGreen()"><b>Log in</b></a>
        <a class="right-menu" role="button" routerLink="/signup" (click)="changeColPink()"><b>Sign up</b></a>
      </li>
    </ul>
  </div>
  </div>
  </nav>
