@mixin active() {
  background-color: #494949;
  width: 100%;
  height: 35px;
  line-height: 35px;
  white-space: nowrap;
  color: #FFFFFF;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: #323232;
}
::-webkit-scrollbar-thumb {
  background: #E20505;
}
.sideNav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #323232;
  padding-top: 11px;
  overflow: auto;

  .navbarBrand {
    font-size:21px;
    color: #FFFFFF;
    padding-left: 15px;
  }
  .positioned {
    margin-top: 6px;
    margin-bottom: 9px;
  }
  .powerOnOff {
    font-size:21px;
    color: #E20505;
    //margin-left: 15px;
    margin-right: 5px;
  }
  .menuElement {
    background-color: #323232;
    width: 100%;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    color: #B5B5B5;
    border-radius: 6px;
    //padding-left: 10px;
    li:hover {
      @include active();
    }
    .menuItem {
      font-size: 15px;
      color: #D1D1D1;
    }
  }
  .active {
    @include active();
  }
  .symbol {
    margin: 7%;
  }
  .showMore {
    color: #7F7F7F;
    font-size: 15px;
    margin-left: 10%;
    margin-top: -5%
  }
  .manage {
    color: #787878;
    font-size: 12px;
    padding-left: 35px;
    margin-top: 8%;
    margin-bottom: -6%
  }
}

