
<div class="white-bckgrnd">

  <div class="pink-bckgrnd">
    <p class="big-text"><b>Let's get started</b></p>

    <p class="small-text">Kickstart your productivity with Toggl.</p>

    <div class="form-label">

      <div align="left">
        <label class="data-label"><b>EMAIL ADRESS</b></label>
        <input type="text"
               id="email"
               class="form-control"
               style="background-color: #E3E8EB; width: 65%; margin: auto; height: 70px">

        <label class="data-label" style="margin-top: 55px"><b>PASSWORD</b></label>
        <input type="text"
               id="password"
               class="form-control"
               style="background-color: #E3E8EB; width: 65%; margin: auto; height: 70px">
      </div>

      <div class="checkbox">
        <label><input type="checkbox" style="" value="">I agree the terms of service and privacy policy</label>
      </div>

      <div class="red-button" role="button">
        <p class="red-button-fill"><b>LOG IN <i class="fa fa-caret-right"></i></b></p>
      </div>
    </div>
  </div>

  <div>

  </div>
</div>
