<div class="whiteBackground">

  <div class="pinkBackground">
    <p class="big-text"><b>Let's get started</b></p>

    <p class="small-text">Kickstart your productivity with Toggl.</p>

    <div class="form-label">

      <div align="center">
        <label class="data-label"><b>EMAIL ADDRESS</b></label>
        <input type="text"
               id="email"
               class="form-control forms" #emailInput>
      </div>

      <div align="center">
        <label class="data-label2"><b> SET A PASSWORD</b></label>
        <input type="password"
               id="password"
               class="form-control forms" #passwordInput>
      </div>

      <div class="checkbox checkbox-add">
        <label><input type="checkbox" value=""><b>I agree the terms of service and privacy policy</b></label>
      </div>

      <div class="red-button" role="button" routerLink="/home">
        <p class="red-button-fill"><b>LOG IN <i class="fa fa-caret-right"></i></b></p>
      </div>
      <div class="white-button" role="button">
        <p class="white-button-fill"><b><i class="fa fa-google"></i> LOG IN WITH GOOGLE <i
          class="fa fa-caret-right"></i></b></p>
      </div>


    </div>
  </div>

  <div>

  </div>
</div>
