<nav class="navbar navbar-default" style="background-color:#88CF8F">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <i class="fa fa-power-off" style="font-size:30px; color: #E1393F; margin: 10px"></i>
        <b>toggl</b></a>
    </div>

    <div class="btn btn-toolbar">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="right-menu" role="button"><b>Log in</b></a>
        <a class="right-menu" role="button"><b>Sign up</b></a>
      </li>
    </ul>
  </div>
  </div>
</nav>
