
<div>
<div style="float: left">
  <input type="text"
         id="email"
         placeholder="What are you working on?"
         class="form-control test"
  #projectName>
</div>

  <div class="btn btn-toolbar" style=" float: right">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="createProjectButton" style="float: left"><i class="fa fa-plus createProjectPlus"></i>Create a project</div>

        <div class="optionButtons"><i class="fa fa-tag "></i></div>
        <div class="optionButtons"><i class="fa fa-dollar"></i></div>

        <div class="timer" #projectTime>{{totalTime}}</div>

        <div *ngIf=playOrStop class="player" (click)=playChange()><i class="fa fa-play-circle playButton"></i></div>
        <div *ngIf=!playOrStop class="player" (click)="playChange(); onCreateProject(projectName.value, totalTime)"><i class="fa fa-stop-circle stopButton"></i></div>

        <div *ngIf=playOrStop class="modeType">
          <a class="fa fa-clock-o manualMode" (click)=changeComponent()></a>
          <a class="fa fa-list autoMode"></a>
        </div>

        <div *ngIf=!playOrStop class="optionButtonsTrash" (click)=playChange()><i class="fa fa-trash"></i></div>
      </li>
    </ul>
  </div>

</div>

  <!--<div class="createProjectButton" style="float: left"><i class="fa fa-plus createProjectPlus"></i>Create a project</div>-->

  <!--<div class="optionButtons" style="float: left"><i class="fa fa-tag "></i></div>-->
  <!--<div class="optionButtons" style="float: left"><i class="fa fa-dollar"></i></div>-->

  <!--<div class="timer" style="float: left" #projectTime>{{totalTime}}</div>-->

  <!--<div *ngIf=playOrStop class="player" style="float: left" (click)=playChange()><i class="fa fa-play-circle playButton"></i></div>-->
  <!--<div *ngIf=!playOrStop class="player" style="float: left" (click)="playChange(); onCreateProject(projectName.value, totalTime)"><i class="fa fa-stop-circle stopButton"></i></div>-->

  <!--<div *ngIf=playOrStop class="modeType" style="float: left">-->
    <!--<a class="fa fa-clock-o manualMode" (click)=changeComponent()></a>-->
    <!--<a class="fa fa-list autoMode"></a>-->
  <!--</div>-->

  <!--<div *ngIf=!playOrStop class="optionButtonsTrash" (click)=playChange()><i class="fa fa-trash"></i></div>-->

